body{
    background-image:url(TelaDeFundo.jpg);
    background-size: cover;
}

/*tela de login*/


.caixaForm{
    display: flex;
    justify-content: center;
}

.caixaForm form{
    background-color:#29282844;
    border-radius: 10px;
    margin-top: 180px;
    padding: 80px;
}

.caixaForm form:hover{
    background-color: #27262660;
}
#senhaLogin{
    border: none;
    width: 350px;
    height: 40px;
    margin:10px;
    border-radius: 5px;
    font-size: 18px;
}

#emailLogin{
    border: none;
    width: 350px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.butãoL{
    display: flex;
    justify-content: center;
}
#butãoLogin{
    border: none;
    background-color:black;
    color: white;
    width: 150px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: sans-serif;
}

#butãoLogin:hover{
    cursor: pointer;
}

.LinkCadastro{
    display: flex;
    justify-content: center;
}
.cadastroL{
    text-decoration: none;
    color: white;
    margin-top: 30px;
    font-family: sans-serif;
}

.Logo{
    text-align: center;
    margin-bottom: 18px;
}

/*tipos de Cadastros*/

.tituloC{
    color:white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
}

.caixaC{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.opcoes{
    background-color: rgba(131, 133, 131, 0.472);
    padding: 100px;
    border-radius: 15px;
}

.campos{
    width: 250px;
    height: 200px;
    border:none;
    margin:5px;
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 5%;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.507);
    transition: all 0.5s;
}

.campos:hover{
    background-color:rgba(6, 114, 255, 0.616);
    color: white;
    box-shadow:0.5px 0.5px 0.5px gray;
    cursor:pointer
}

/*Cadastros*/
/*Servirá para todos os tipos de cadastros*/
.caixaCadastro{
    display: flex;
    justify-content: center;
    margin: 100px;
}
.caixaCadastro form{
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 10px;
    padding: 50px;
    transition: all 0.5s;
}
.caixaCadastro form:hover{
    background-color: rgba(128, 128, 128, 0.493);;
}

.tituloCadastros{
    color: white;
    text-align: center;
    margin-bottom: 60px;
    font-family: sans-serif;
    font-size: 50px;
}

#camposCadastro{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.Cadastro{
    border:none;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}

.Cadastro:hover{
    box-shadow: 1px 1px 1px rgba(51, 50, 50, 0.733);
}

#criarConta{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botãoCadastro{
    width: 150px;
    height: 35px;
    border:none;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 5px;
}

.botãoCadastro:hover{
    cursor: pointer;
}


