body{
    background:linear-gradient(to right,teal, rgb(47, 47, 184));
}

/*tela de login*/


.caixaForm{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.caixaForm form{
    background-color:white;
    border-radius: 15px;
    padding: 35px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.CampoLogin{
    display: flex;
    justify-content: center;
}

#senhaLogin{
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    height: 40px;
    margin:10px;
    font-size: 18px;
}

#emailLogin{
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    height: 40px;
    margin: 10px;
    font-size: 18px;
}

.butãoL{
    display: flex;
    justify-content: center;
}
#butãoLogin{
    border: none;
    background-color:teal;
    color: white;
    width: 350px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 18px;
    font-family: sans-serif;
    font-size: 18px;
}

#butãoLogin:hover{
    cursor: pointer;
}

.LinkCadastro{
    display: flex;
    justify-content: center;
}
.cadastroL{
    text-decoration: none;
    color: black;
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 600;
}
.logoPrincipal{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logoPrincipal img{
    width: 350px    ;
}
.esqueceuSenha{
    display: flex;
    justify-content: center;
}
.esqueceu{
    text-decoration:none;
    color: gray;
    margin-top: 30px;
    font-family: sans-serif;
}

/*tipos de Cadastros*/

.tituloC{
    color:white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
}

.caixaC{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.opcoes{
    background-color: rgba(131, 133, 131, 0.472);
    padding: 20px;
    border-radius: 15px;
}

.campos{
    width: 150px;
    height: 60px;
    border:none;
    margin-top:0px;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 5%;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.507);
    transition: all 0.5s;
}

.campos:hover{
    background-color:rgba(6, 114, 255, 0.616);
    color: white;
    box-shadow:0.5px 0.5px 0.5px gray;
    cursor:pointer
}

.campos:focus{
    background-color:rgba(255, 6, 6, 0.616);
    color: white;
}

/*Cadastros*/
/*Servirá para todos os tipos de cadastros*/
.caixaCadastro{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.caixaCadastro form{
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 10px;
    padding: 20px;
    transition: all 0.5s;
}
.caixaCadastro form:hover{
    background-color: rgba(128, 128, 128, 0.493);;
}

.tituloCadastros{
    color: white;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 35px;
}

#camposCadastro{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.Cadastro{
    border:none;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}

.Cadastro:hover{
    box-shadow: 1px 1px 1px rgba(51, 50, 50, 0.733);
}

#criarConta{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botãoCadastro{
    width: 150px;
    height: 35px;
    border:none;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 5px;
}

.botãoCadastro:hover{
    cursor: pointer;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    
    .logoPrincipal img{
        width: 280px;
    }
    #emailLogin{
        width: 280px;
    }
    #senhaLogin{
        width: 280px;
    }
    #butãoLogin{
        width: 280px;
    }
    .caixaForm form{
        padding: 20px;
    }


}


